nav a:hover{
    color: darkorange;
 }

h3{
    display: flex;
    animation: girar 8s linear infinite;
}

@keyframes girar {
    from{
        transform: rotate(0deg);  
        }
        to{transform: translate(1500px);

        }
        }
.logo img:hover{
    transform: scale(120%);
}